body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #edf0ed, #f1f5f2);
}
header {
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #47ead4;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(223, 201, 201, 0.1);
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
}

.container {
    max-width: 800px;
    width: 90%;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.service-card {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
}
