/* General Styles */
body{
    display: contents;
}

header {
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2accda;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-link:hover {
    background-color: #575757;
}
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
}
